h1 {
  font-size: 1rem;
}

body {
  width: 100%;
  max-width: min-content;
  margin: 12px;
}

.input__group {
  display: grid;
}

.label__required {
  color: crimson;
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-block: 12px;
}

.current-novel-container {
  gap: 6px;
  display: grid;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.characters_list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.characters_list__item {
  display: flex;
  justify-content: space-between;
  border-block-end: 1px solid black;
}
