h1 {
  font-size: 1rem;
}

body {
  width: 100%;
  max-width: 40ch;
  min-width: 300px;
  margin: 12px;
}

.input__group {
  display: grid;
}

.label__required {
  color: crimson;
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-block: 12px;
}

.current-novel-container {
  gap: 6px;
  display: grid;
}
