.loreleaf_highlight {
  text-decoration: dotted underline;
  text-underline-offset: 3px;
  text-decoration-color: whitesmoke;
  transition: 200ms;
}

.loreleaf_highlight:hover {
  text-decoration-color: deepskyblue;
  transition: 200ms;
}
